<%- include('../includes/head.ejs') %>

    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <div id="content-wrap">
                    <!-- display errorMessage from auth controller using connect flash -->
                    <% if (errorMessage) { %>
                        <div class="user-message user-message--error">
                            <%= errorMessage %>
                        </div>
                        <% } %>
                            <!-- remove html form validation with no validate to check server side validation -->
                            <form class="login-form" action="/login" method="POST" novalidate>
                                <div class="form-control">
                                    <label for="email">E-Mail</label>
                                    <!-- // set validation class for error array with an error of email -->
                                    <input
                                        class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>"
                                        type="email" name="email" id="email" value="<%= oldInput.email %>">
                                </div>
                                <div class="form-control">
                                    <label for="password">Password</label>
                                    <input
                                        class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>"
                                        type="password" name="password" id="password" value="<%= oldInput.password %>">
                                </div>
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button class="btn login-btn" type="submit">Login</button>
                            </form>
                            <div class="reset centered">
                                <a href="/reset">Reset Password</a>
                            </div>
                </div>
            </main>
            <%- include('../includes/end.ejs') %>