<header class="main-header">

    <nav class="topnav" id="myTopnav">
               <a class="cseCourse" href="https://node-application-one.herokuapp.com/">CSE341</a>


            <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>


            <a class="<%= path === '/products' ? 'active' : '' %>" href="/products">Books</a>

   
            <!-- only display this information if user is logged in -->
            <% if (isAuthenticated) { %>

                <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>


                <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Orders</a>


                <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add
                   Book
                </a>


                <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Books
                </a>

                <% } %>


                    <!-- only display this information if user is NOT logged in -->
                    <% if (!isAuthenticated) { %>
                        <div class="topnav-right">
                            <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>


                            <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>

                            <% } else { %>
                                <!-- show logout if user is logged in -->

                                <form action="/logout" method="post">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <button class="topnav-right-button" type="submit">Logout</button>
                                </form>

                                <% } %>

                        </div>
                        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                            <i class="fa fa-bars"></i>
                        </a>
            
        </nav>

</header>