<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main class="centered">
                <section class="content-wrap detail">
                    <div class="col1">
                    <h1>
                        <%= product.title %>
                    </h1>
                    <hr>
                    <div class="image">
                        <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
                    </div>
                    </div>
                    <div class="col2">
                    <p>
                        <%= product.description %>
                    </p>
                    <% if (isAuthenticated) { %>
                        <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                            <% } %>
                </div>
            </section>
            </main>
            <%- include('../includes/end.ejs') %>